.card-header-Pagamento{
    background: linear-gradient(to right, #1370af , #55d4e0) !important;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0;
}
.ocult{
    display:none
}
.h3FormPagamento{
    color: #fff;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0px;
    min-height: 33px;
}

.h3FormPagamentoSmall {
    font-size: 17px;
}

.divCinza{
    margin-top: 60px;
    background: rgb(242, 242, 242);
    padding: 60px 0px;
    margin-bottom: -20px;
}

.card-Pagamento-body{
    padding: 0px 20px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.card2-Pagamento-body{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.form-control-pagamentos{
    border: 1px solid grey;
}

#checkout label{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.pPagamentosForm{
    letter-spacing: -0.6px;
    font-size: 16px;
    padding: 0 20px;
}

.txtSpanPagamentoStrong{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.txtSpanPagamento{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.h3PrecoPagamento{
    font-family: 'Montserrat', sans-serif;
}

.boldClass{
    font-family: "Montserrat", sans-serif;
    font-weight: 900 !important;
    font-size: 1.7rem;
}

.btnCompreJa{
    padding: 6px 20px;
    background: transparent;
    border: 2px solid #1370af;
    border-radius: 10px;
    color: #1370af;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: ease-in-out 0.4s;
}

.btnCompreJa:hover{
    background-color: #1370af;
    border: 2px solid #1370af;
    transition: ease-in-out 0.2s;
    color: #fff;
}

.hrPagamentos{
    margin: 0 !important;
}

.listaPagamentos{
    padding: 0 10px;
}

.listaPagamentos li{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.qrcode{
    height: 250px;
}

.qrcode2{
    width: 200px;
  
}