/* Design by Guilherme S barros */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--branco);
}

body{
    --fundo: #FFF;
    --branco: #000;
    --fundo-div: #FFF;
    background: var(--fundo);
}

.container header{
    background: var(--fundo-div);
    height: 70px ;
    margin-top: 0.75rem;
}

.nome-banco{ 
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    padding: 15px 0px;
    font-weight: 400;
    
}

.senha-chamada{
    padding: 2rem 0.5rem;
    width: 350px;
    margin: 0.5rem 0;
    background: var(--fundo-div);
    text-align: center;
    border-radius:20px;
}
.vazia{
    padding: 2rem 0.5rem;
    width: 100px;
    margin: 0.5rem 0;
 
    text-align: center;

}

.senha-chamada h1{
    font-size: 8rem;   
    margin-bottom: 0%; 
}

.conteudo-senha-chamada{
    
    padding-bottom: 2rem;
    color: #000;
    font-size: 2rem;   
}

.conteudo-caixa{
    font-size: 2.3rem;
    padding-left: .6rem;
}
.triagemguiche{
    font-size: 1.5rem;
    padding-left: .6rem;
}

.container-final{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
}

.para-clientes{
    margin-right: 10px;
    background: var(--fundo-div);
    padding: 2rem 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;    
}

.para-caixas{
    padding: 2rem 2rem;
    background: var(--fundo-div);
    margin-left: 10px;
    border-radius: 20px;
    display: grid;
}

.title-content-final{
    font-weight: 400;
    color: #000;
}

.subtitle-content-final{
    font-weight: 900;
    font-size: 1rem;
}

.botoes, .botoes-cliente, .botoes-cliente-maior{
   color: rgba(32, 33, 36, 0.88);
   text-decoration: none;
   transition: filter 0.3s;
   border-radius: 10px;
   align-items: center;
   height: 2rem;
   border: none;
   width: 100%;
}

#btn-rapido, #btn-comum{
    margin-top: 2rem;
    width: 49%;
    align-items: center;
}

#btn-prioridade{
    margin-top: 2rem;
    width: 49%;
    align-items: center;
}

.content-final-div h1{
    font-size: 2rem;
}

.para-caixas h1{
    margin-top: -2.45rem;
}

.para-caixas div{
    display: flex;
    justify-content: center;
}

#buttons-caixa{
 margin-top: -28px;
}

.para-caixas .grupo-de-botoes button{
    margin-left: 0.5rem;
}

button{
    width: 20%;
}

button:hover{
    filter: brightness(1.2);
}
.logo{
    width: 200px;
    position: relative;
    left: -100px;
    top: -60px;
}
.ultimas-chamadas{
    font-size: 3rem;
}
.tela-painel{
    width: 99%;
}
.painel-atendimento{
   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,30,121,1) 0%, rgba(0,212,255,1) 100%);
  
}
.telatriagem{
    width: 95% !important;
}
.ajuste-tela{

}
.arredondado{
    border-radius: 20px;
}
.espaco{
    padding-left: 250px !important;
}
.tabela-senhas{
    margin-left: 65px !important;
}

.logo_painel{

    height: 80px !important;
    position: absolute !important;
    left: 0px !important;
    top: -10px !important;
}
/*
@media (max-width: 1440px) {
    body{
        background-color: red !important;
    }
} 
@media (max-width: 1024px) {
    body{
        background-color: red !important;
    }
} 
@media (max-width: 769px) {
    body{
        background-color: blue !important;
    }
} 
@media (max-width: 425px) {
    body{
        background-color: red !important;
    }
} 
@media (max-width: 375px) {
    body{
        background-color: yellow !important;
    }
} 
@media (max-width: 320px) {
    body{
        background-color: black !important;
    }
} 
*/