/* ----- Fontes Import ----- */
@import url('http://fonts.cdnfonts.com/css/bariol-bold');
/* ----- Fontes Import ----- */

/* ----- Variaveis - Tema Branco ----- */
:root {
    --cor-primaria: #68b42e;
    --cor-secundaria: #94c11f;
    --cor-verde-turquesa: #16a085;
    --cor-laranja: #e67e22;
    --cor-sucesso: #27ae60;
    --cor-erro: #e74c3c;
    --cor-aviso: #f1c40f;
    --cor-branco: #fff;
	--cor-mudar-tema: #ff8612;
	--cor-background-mudar-temas: #979797;
	--cor-span-mudar-temas: #000;
    --cor-light: #d6d6d6;
    --cor-dark: rgb(10, 10, 10);
    --cor-info-dark: #7f8c8d;
    --cor-info-light: #ecf0f1;
    --cor-primaria-variante: #508b23;
    --cor-dark-variante: #8b8b8b;
    --cor-background:rgb(255,255,255,1) !important;
    --cor-background-sidebar: rgb(255,255,255,1) !important;
	--cor-principal:rgb(19 65 121 / 100%);
	/*--cor-principal: rgb(19 65 121 / 100%); */
    /* ---- Cards ---- */
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    /* ---- Padding ---- */
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    /* ---- Padding ---- */
    /* ---- Box Shadow ---- */
    --box-shadow: 0 2rem 3rem var(--cor-light);
    /* ---- Box Shadow ---- */
    /* ---- Cards ---- */

}

/* ----- Variaveis - Tema Branco ----- */

/* ----- Variaveis - Tema Escuro ----- */
.var-tema-escuro{

	--cor-principal:rgb(192 192 192 / 100%);
    --cor-background: #181a1e;
    --cor-background-cinza: #181a1e;
    --cor-branco: #202528;
    --cor-dark: #edeffd;
    --cor-dark-variante: #a3bdcc;
    --cor-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--cor-light);
	--cor-background-mudar-temas: #3d3d3d;
	--cor-mudar-tema: #ff8612;
	--cor-span-mudar-temas: #fff;

}
/* ----- Variaveis - Tema Escuro ----- */

/* ----- Conteudo Direita ----- */
.navbar{
    margin-top: 0;
}

.mudarTemas{
	background-color: var(--cor-mudar-tema) !important;
	border-radius: 7px !important;
	color: var(--cor-span-mudar-temas);
}

.cardParceiros{
    background-color: var(--cor-branco) !important;
    box-shadow: 0 1rem 1.2rem var(--cor-light);
    border-radius: 20px !important;
    padding: 14px 10px 20px 10px;
}

.btnVisualizarKits{
	background: #ff8612;
	border: 2px solid #ff8612;
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff !important;
	transition: ease-in-out 0.3s;
}
.btnVisualizarKits:hover{
	background: transparent;
	border: 2px solid #ff8612;
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff !important;
	transition: ease-in-out 0.3s;
}

.navbar .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.navbar .top button{
    display: none;
}

.navbar .mudar-tema{
    background: var(--cor-background-mudar-temas);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.navbar .mudar-tema span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .active{
    background: var(--cor-primaria) !important;
    color: white !important;
    border-radius: var(--border-radius-1);
}



.navbar .top .perfil{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*
Template Name: Dashtreme Admin
Author: codervent
Email: codervent@gmail.com
File: app.css
*/

/*
  - Google Font
  - General
  - Sidebar
  - Header
  - Metismenu
  - Extra CSS
  - Invoice Page
  - Chat box
  - Email box
  - Compose Mail
  - Navs and Tabs
  - Background Colors
  - Authentication
  - Buttons
  - Pricing Table
  - Forms
  - Responsive
*/

p{
    font-family: 'Century Gothic', sans-serif;
}
html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
       tab-size: 4; /* 3 */
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  }
body {

	font-size: 14px;

	letter-spacing: .5px;

    font-family: 'Century Gothic', sans-serif;

	overflow-x: hidden;

    color: var(--cor-principal) !important;


}
.table td,th{
	color: var(--cor-principal) !important;
	background: var(--cor-background) !important;
}
.table-responsive{
    color: var(--cor-principal) !important;
}
h1,h2,h3,h4,h5,h6{
	color: var(--cor-principal) !important;
}
.genomatextcolor{
	color: var(--cor-principal) !important;
}
.paginate_button {
	color: var(--cor-principal) !important;
}
.dt-bootstrap5 {
    color: var(--cor-principal) !important;
}
.ms-2{
	color: var(--cor-principal) !important;
}
.badge {
    color: rgb(19 65 121 / 100%) !important;
}
a {

	text-decoration: none

}

.wrapper {

	width: 100%;

	position: relative;



}

.sidebar-wrapper {

	width: 250px;

	height: calc(100% - 60px);

	position: fixed;

	top: 60px;

	bottom: 0;

	left: 0;

	background: var(--cor-background-cinza) !important;


	border-right: 1px solid var(--cor-principal) !important;

	z-index: 11;

	box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .12)!important;

	transition: all .2s ease-out

}

.sidebar-header {

	width: 250px;

	height: 60px;

	display: flex;

	align-items: center;

	position: fixed;

	top: 0;

	bottom: 0;

	padding: 0 15px;

	z-index: 5;

	background-size: 100% 100%;

	background: var(--cor-background-cinza) !important;

    border-bottom: none;

    border-right: none;

}

.logo-icon {

	width: 100px

}

.logo-text {

	font-size: 22px;

	margin-left: 10px;

	margin-bottom: 0;

	letter-spacing: 1px;

	color: var(--cor-principal) !important;

}

.toggle-icon {

	font-size: 22px;

	cursor: pointer;

	color:rgb(19 65 121 / 100%)

}

.topbar {

	position: fixed;

	top: 0;

	left: 250px;

	right: 0;

	height: 60px;

	background: var(--cor-background-cinza) !important;

	border-bottom: 1px solid rgb(255 255 255 / 15%);

	z-index: 10;

	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important

}

.topbar .navbar {

	width: 100%;

	height: 60px;

	padding-left: 30px;

	padding-right: 30px

}

.page-wrapper {

	height: 100%;

	margin-top: 60px;

	margin-bottom: 0px;

	margin-left: 250px

}
.bg-white{

	background: var(--cor-background) !important;
}
.page-content {

	padding: 1.5rem 1.5rem 0 1.5rem;
    background: var(--cor-background-cinza) !important;
    color: #0000;

}

.page-footer {

	background: rgb(0 0 0 / 20%);

	position: absolute;

	left: 250px;

	right: 0;

	text-align: center;

	padding: 7px;

	color: var(--cor-principal) !important;

	font-size: 14px;

	border-top: none;

	z-index: 3

}

.wrapper.toggled .topbar {

	left: 70px

}

.wrapper.toggled .page-wrapper {

	margin-left: 70px

}

.wrapper.toggled .page-footer {

	left: 70px

}

.sidebar-wrapper ul {

	padding: 0;

	margin: 0;

	list-style: none;

	background: 0 0

}

.sidebar-wrapper .metismenu {

	background: var(--cor-background-cinza) !important;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	padding: 10px;

	margin-top: 0px;

	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	-ms-flex-direction: column;

	flex-direction: column

}

.sidebar-wrapper .metismenu li+li {

	margin-top: 5px

}

.sidebar-wrapper .metismenu li:first-child {

	margin-top: 5px

}

.sidebar-wrapper .metismenu li:last-child {

	margin-bottom: 5px

}

.sidebar-wrapper .metismenu>li {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	-ms-flex-direction: column;

	flex-direction: column;

	position: relative

}

.sidebar-wrapper .metismenu a {

	position: relative;

	display: flex;

	align-items: center;

	justify-content: left;

	padding: 8px 15px;

	font-size: 15px;

	color: var(--cor-principal) !important;

	outline-width: 0;

	text-overflow: ellipsis;

	overflow: hidden;

	letter-spacing: .5px;

	border: 1px solid #ffffff00;

	transition: all .3s ease-out

}

.sidebar-wrapper .metismenu a .parent-icon {

	font-size: 24px;

	line-height: 1;
    color: var(--cor-principal) !important;

}

.sidebar-wrapper .metismenu a .menu-title {

	margin-left: 10px;
	color: var(--cor-principal) !important;

}

.sidebar-wrapper .metismenu ul a {

	padding: 6px 15px 6px 15px;

	font-size: 15px;

	border: 0

}

.sidebar-wrapper .metismenu ul a i {

	margin-right: 10px

}

.sidebar-wrapper .metismenu ul {

	border: 1px solid rgb(255 255 255 / 12%);

	background: var(--cor-background-cinza) !important;

}

.sidebar-wrapper .metismenu ul ul a {

	padding: 8px 15px 8px 30px

}

.sidebar-wrapper .metismenu ul ul ul a {

	padding: 8px 15px 8px 45px

}

.sidebar-wrapper .metismenu .mm-active>a,

.sidebar-wrapper .metismenu a:active,

.sidebar-wrapper .metismenu a:focus,

.sidebar-wrapper .metismenu a:hover {

    color: rgb(255 255 255 / 100%) !important;

	text-decoration: none;

	background: rgb(19 65 121 / 50%) !important;

}
.sidebar-wrapper .metismenu a {

	color: rgb(19 65 121 / 100%) !important;

	text-decoration: none;

	background: var(--cor-background-cinza) !important;

}

.menu-label {

	padding: 20px 15px 5px 5px;

	color: var(--cor-principal) !important;

	text-transform: uppercase;

	font-size: 12px;

	letter-spacing: .5px

}

.metismenu .has-arrow:after {

	position: absolute;

	content: "";

	width: .5em;

	height: .5em;

	border-style: solid;

	border-width: 1.2px 0 0 1.2px;

	border-color: initial;

	right: 15px;

	transform: rotate(-45deg) translateY(-50%);

	transform-origin: top;

	top: 50%;

	transition: all .3s ease-out

}

@media screen and (min-width: 1025px) {

	.wrapper.toggled.sidebar-hovered .sidebar-wrapper {

		background-color: #171717;

	}

	.wrapper.toggled.sidebar-hovered .sidebar-header {

		background-color: #171717;

		border-bottom: 1px solid rgba(255, 255, 255, 0.12);

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text {

		display: none

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper {

		width: 70px

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {

		width: 70px

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .toggle-icon {

		display: none

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {

		justify-content: center

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {

		width: 70px

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu a {

		justify-content: center

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu .menu-title {

		display: none

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li ul {

		display: none

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu li.menu-label {

		display: none

	}

	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .metismenu .has-arrow:after {

		display: none

	}

	.email-toggle-btn {

		display: none!important

	}

	.chat-toggle-btn {

		display: none!important

	}

}
.bx-shadow {
	border: 1px solid;

	box-shadow: 5px 10px;
  }

.color-indigator-item {

	width: 1.2rem;

	height: 1.2rem;

	background-color: rgb(19 65 121 / 100%);

	border-radius: 50%;

	cursor: pointer

}





.back-to-top {

	display: none;

	width: 40px;

	height: 40px;

	line-height: 40px;

	text-align: center;

	font-size: 26px;

	color: rgb(19 65 121 / 100%);

	position: fixed;

	border-radius: 10px;

	bottom: 20px;

	right: 12px;

	background-color: rgb(255 255 255 / 25%);

	z-index: 5

}

.back-to-top:hover {

	color: #fff;

	background-color: #000;

	transition: all .5s

}




/* extra css */

.icon-badge {

	width: 45px;

	height: 45px;

	background: #f2f2f2;

	display: flex;

	align-items: center;

	justify-content: center;

	border-radius: 50%

}

.widgets-icons {

	width: 50px;

	height: 50px;

	display: flex;

	align-items: center;

	justify-content: center;

    color: var(--cor-principal) !important;

	background-color: rgb(255 255 255 / 15%);

	font-size: 26px;

	border-radius: 10px

}


.product-img {

	width: 60px;

	height: 60px;

	background-color: rgb(19 65 121 / 100%);

	display: flex;

	align-items: center;

	justify-content: center;

	border-radius: 10px;

	border: 1px solid rgb(255 255 255 / 15%);

}

.product-img img {

	width: 60px;

	height: 60px;

	padding: 6px

}


.product-img-2 {

	width: 45px;

	height: 45px;

	background-color: rgb(19 65 121 / 100%);

	display: flex;

	align-items: center;

	justify-content: center;

	border-radius: 10px;

	border: 1px solid rgb(255 255 255 / 15%);

}

.product-img-2 img {

	width: 45px;

	height: 45px;

	padding: 1px

}

.product-list {

	position: relative;

	height: 380px

}

.product-list-2 {

	position: relative;

	height: 450px

}






.recent-product-img {

	width: 40px;

	height: 40px;

	background-color: rgb(255 255 255 / 15%);

	display: flex;

	align-items: center;

	justify-content: center;

	border-radius: 10px;

	border: 1px solid rgb(255 255 255 / 15%);

}

.recent-product-img img {

	width: 40px;

	height: 40px;

	padding: 6px

}

.theme-icons {

	background-color: rgb(0 0 0 / 15%);

}


.user-plus {

	width: 33px;

	height: 33px;

	margin-left: -14px;

	line-height: 33px;

	background: #fff;

	border-radius: 50%;

	text-align: center;

	font-size: 22px;

	cursor: pointer;

	border: 1px dotted #a9b2bb;

	color: #404142

}

.user-groups img {

	margin-left: -14px;

	border: 1px solid #e4e4e4;

	padding: 2px;

	cursor: pointer

}








.font-14 {

	font-size: 14px

}




.font-22 {

	font-size: 22px

}

.font-36 {

	font-size: 36px

}


.radius-30 {

	border-radius: 30px

}

.radius-10 {

	border-radius: 10px

}

.radius-15 {

	border-radius: 15px

}

.row.row-group>div {
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.row.row-group>div:last-child {
    border-right: none;
}

.cursor-pointer {

	cursor: pointer

}

.dash-wrapper {
    margin: -1.5rem -1.5rem -5.5rem -1.5rem;
    padding: 1.5rem 1.5rem 6.5rem 1.5rem;
}

.dash-array-chart-box {
    width: 105px;
    height: 90px;
    position: relative;
    top: -15px;
    right: 30px;
}





.nav-link.active{
    background-color:#ee7d11 !important;
    color: #FFFF!important;
    font-size: 13px !important;
}
  .nav-link.inactive{
    background-color:#FFFF !important;
    color: #0000 !important;
    font-size: 13px !important;
  }
  a:link {
    color:#000000;
    text-decoration:none;
  }
  a:visited {
    color:#000000 !important;

  }
  a:hover {
    color:#000000 !important;
  }
  a:active {
    color:#FFFF !important;

  }
.btnSalvar{
    background: #ee7d11 !important;
    padding: 5px 50px !important;
    border: 2px solid #ee7d11 !important;
    border-radius: 30px !important;
    color: #fff !important;
    transition: ease-in-out 0.3s !important;
    font-family: 'Century Gothic', sans-serif !important;
  }
  .btnSalvar:hover{
    background: transparent !important;
    color: #ee7d11 !important;
    border: 2px solid #ee7d11 !important;
    text-decoration: none !important;
    transition: ease-in-out 0.3s !important;
  }
.btn-voltar{
    background: #ee7d11 !important;
    padding: 5px 50px !important;
    border: 2px solid #ee7d11 !important;
    border-radius: 30px !important;
    color: #fff !important;
    transition: ease-in-out 0.3s !important;
    font-family: 'Century Gothic', sans-serif !important;
  }
  .btn-voltar:hover{
    background: transparent !important;
    color: #ee7d11 !important;
    border: 2px solid #ee7d11 !important;
    text-decoration: none !important;
    transition: ease-in-out 0.3s !important;
  }


.nav-primary.nav-tabs .nav-link.active {

	color: #0d6efd;

	border-color: #0d6efd #0d6efd #fff

}

.nav-danger.nav-tabs .nav-link.active {

	color: #f41127;

	border-color: #f41127 #f41127 #fff

}

.nav-success.nav-tabs .nav-link.active {

	color: #17a00e;

	border-color: #17a00e #17a00e #fff

}

.nav-warning.nav-tabs .nav-link.active {

	color: #ffc107;

	border-color: #ffc107 #ffc107 #fff

}

.nav-pills-danger.nav-pills .nav-link.active {

	color: #fff;

	background-color: #f41127

}

.nav-pills-success.nav-pills .nav-link.active {

	color: #fff;

	background-color: #17a00e

}

.nav-pills-warning.nav-pills .nav-link.active {

	color: #000;

	background-color: #ffc107

}
.form-control:focus {

	background-color: rgb(255 255 255 / 100%) !important;


}
input.form-control {

	background-color: rgb(255 255 255 / 100%);

	border: 1px solid rgb(19 65 121 / 100%);

	color: rgb(19 65 121 / 100%) !important;

}
textarea.form-control {

	background-color: rgb(255 255 255 / 100%);

	border: 1px solid rgb(19 65 121 / 100%);

	color: rgb(19 65 121 / 100%) !important;

}
select.form-control {

	background-color: rgb(255 255 255 / 100%);

	border: 1px solid rgb(19 65 121 / 100%);

	color: rgb(19 65 121 / 100%) !important;

}
.nav-search input.form-control {

	background-color: rgb(255 255 255 / 100%);

	border: 1px solid rgb(255 255 255 / 45%);

	color: rgb(19 65 121 / 100%) !important;

}

.nav-search button[type=submit] {

	background-color: rgb(255 255 255 / 20%);

	border: 1px solid rgb(255 255 255 / 32%);

	color: #fff

}

.nav-search input.form-control::placeholder {

	opacity: .5!important;

	color: rgb(19 65 121 / 100%) !important;

}

.nav-search input.form-control::-ms-input-placeholder {

	color: rgb(19 65 121 / 100%) !important;

}

.form-control {

	color: rgb(19 65 121 / 100%) !important;

}

.round-pagination.pagination .page-item:first-child .page-link {

	border-top-left-radius: 30px;

	border-bottom-left-radius: 30px

}

.round-pagination.pagination .page-item:last-child .page-link {

	border-top-right-radius: 30px;

	border-bottom-right-radius: 30px

}

.bg-light-primary {

	background-color: rgb(13 110 253 / .11)!important

}

.bg-light-success {

	background-color: rgb(23 160 14 / .11)!important

}

.bg-light-danger {

	background-color: rgb(244 17 39 / .11)!important

}

.bg-light-warning {

	background-color: rgb(255 193 7 / .11)!important

}

.bg-light-info {

	background-color: rgb(13 202 240 / 18%)!important

}

.bg-light-white-2 {

	background-color: rgba(255, 255, 255, 0.70)!important

}

.bg-light-white-3 {

	background-color: rgba(255, 255, 255, 0.55)!important

}

.bg-light-white-4 {

	background-color: rgba(255, 255, 255, 0.25)!important

}

.bg-gradient-cosmic {

	background: linear-gradient(to right, #8e2de2, #4a00e0)!important

}

.bg-gradient-burning {

	background: linear-gradient(to right, #ff416c, #ff4b2b)!important

}

.bg-gradient-lush {

	background: linear-gradient(to right, #56ab2f, #a8e063)!important

}

.bg-gradient-kyoto {

	background: linear-gradient(to right, #f7971e, #ffd200)!important

}

.bg-gradient-blues {

	background: linear-gradient(to right, #56ccf2, #2f80ed)!important

}

.bg-gradient-moonlit {

	background: linear-gradient(to right, #0f2027, #203a43, #2c5364)!important

}

.split-bg-primary {

	background-color: #0c62e0;

	border-color: #0c62e0

}

.split-bg-secondary {

	background-color: #515a62;

	border-color: #515a62

}

.split-bg-success {

	background-color: #128e0a;

	border-color: #128e0a

}

.split-bg-info {

	background-color: #0bb2d3;

	border-color: #0bb2d3

}

.split-bg-warning {

	background-color: #e4ad07;

	border-color: #e4ad07

}

.split-bg-danger {

	background-color: #e20e22;

	border-color: #e20e22

}

.bg-facebook {

	background-color: #3b5998!important

}

.bg-twitter {

	background-color: #55acee!important

}

.bg-google {

	background-color: #e52d27!important

}

.bg-linkedin {

	background-color: #0976b4!important

}

.section-authentication-signin {

	height: 100vh

}

.authentication-forgot {

	height: 100vh;

	padding: 0 1rem

}

.authentication-reset-password {

	height: 100vh;

	padding: 0 1rem

}

.authentication-lock-screen {

	height: 100vh;

	padding: 0 1rem

}

.error-404 {

	height: 100vh;

	padding: 0 1rem

}

.error-social a {

	display: inline-block;

	width: 40px;

	height: 40px;

	line-height: 40px;

	font-size: 18px;

	color: #fff;

	text-align: center;

	border-radius: 50%;

	margin: 5px;

	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important

}

.bg-login {

	background-image: url(../images/login-images/bg-login-img.jpg);

	background-size: cover;

	background-position: center;

	background-repeat: no-repeat;

	background-attachment: fixed

}

.bg-forgot {

	background-image: url(../images/login-images/bg-forgot-password.jpg);

	background-size: cover;

	background-position: center;

	background-repeat: no-repeat;

	background-attachment: fixed

}

.bg-lock-screen {

	background-image: url(../images/login-images/bg-lock-screen.jpg);

	background-size: cover;

	background-position: center;

	background-repeat: no-repeat;

	background-attachment: fixed

}

.login-separater span {

	position: relative;

	top: 26px;

	margin-top: -10px;

	background: rgb(0 0 0 / 34%);

	padding: 5px;

	font-size: 12px;

	color: #ffffff;

	z-index: 1;

	border-radius: 4px;

}

.btn i {

	vertical-align: middle;

	font-size: 1.3rem;

	margin-top: -1em;

	margin-bottom: -1em;

	margin-right: 5px

}

.btn-facebook {

	box-shadow: 0 2px 2px 0 rgba(59, 89, 152, .14), 0 3px 1px -2px rgba(59, 89, 152, .2), 0 1px 5px 0 rgba(59, 89, 152, .12);

	background-color: #3b5998;

	border-color: #3b5998;

	color: #fff

}

.btn-facebook:hover {

	color: #fff

}

.btn-white {

	background-color: #fff;

	border-color: #e7eaf3

}

.chart-container1 {

	position: relative;

	height: 340px

}

.gmaps,

.gmaps-panaroma {

	height: 400px;

	background: #eee;

	border-radius: 3px

}


input::placeholder {

	color: rgb(19 65 121 / 100%) !important;

	opacity: 1!important

}

textarea::placeholder {

	color: rgb(19 65 121 / 100%) !important;

	opacity: 1!important

}
.card-group {

	margin-bottom: 1.5rem

}
.card{
	background-color: var(--cor-background-cinza);
}
.search-bar-box {

	width: 75%

}

.search-control {

	background-color: rgb(0 0 0 / 15%);

	border: 1px solid rgb(255 255 255 / 15%);

	padding-right: 2.5rem

}

.search-control:focus {

	background-color: rgb(0 0 0 / 15%);

	border: 1px solid rgb(255 255 255 / 15%);

	padding-right: 2.5rem

}

.search-show {

	font-size: 18px;

	right: 15px;

	color: #ffffff;

}

.search-close {

	font-size: 18px;

	right: 15px;

	cursor: pointer;

	display: none

}

.topbar .navbar .navbar-nav .nav-link {

	padding-right: .8rem;

	padding-left: .8rem;

	color: #ffffff;

	font-size: 22px

}

.dropdown-toggle-nocaret:after {

	display: none

}

.alert-count {

	position: absolute;

	top: 5px;

	left: 22px;

	width: 18px;

	height: 18px;

	display: flex;

	align-items: center;

	justify-content: center;

	border-radius: 50%;

	font-size: 12px;

	font-weight: 500;

	color: #fff;

	background: #f62718

}

.user-img {

	width: 42px;

	height: 42px;

	border-radius: 50%;

	border: 0 solid #e5e5e5;

	padding: 0

}

.user-info .user-name {

	font-size: 15px;

	font-weight: 500;

	color: var(--cor-principal) !important;

}

.user-info .designattion {

	font-size: 13px;

	color: var(--cor-principal) !important;

}


.user-box {

	display: flex;

	align-items: center;

	height: 60px;

	border-left: none;

	margin-left: 1rem

}

.dropdown-large {

	position: relative

}
.dropdown-menu-end{
    background-color: #FFF ;
}
.dropdown-large .dropdown-menu {

	width: 360px;

	border: 0;

	padding: 0 0;

	border-radius: 10px;

	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    background: var(--cor-background) !important;

}

.topbar .navbar .dropdown-large .dropdown-menu::after {

	content: '';

	width: 13px;

	height: 13px;

	background: var(--cor-background) !important;

	position: absolute;

	top: -6px;

	right: 16px;

	transform: rotate(45deg);

	border-top: 1px solid #0000;

	border-left: 1px solid #000

}

.topbar .navbar .dropdown-menu::after {

	content: '';

	width: 13px;

	height: 13px;

	background: var(--cor-background) !important;

	position: absolute;

	top: -6px;

	right: 16px;

	transform: rotate(45deg);

	border-top: 1px solid #0000;

	border-left: 1px solid #0000

}

.dropdown-large .msg-header {

	padding: .8rem 1rem;

	border-bottom: 1px solid rgb(237 237 237 / 20%);

	background-clip: border-box;

	background: #FFF;

	text-align: left;

	display: flex;

	align-items: center;

	border-top-left-radius: 10px;

	border-top-right-radius: 10px

}

.dropdown-large .msg-header .msg-header-title {

	font-size: 15px;

	color: var(--cor-background) !important;

	margin-bottom: 0;

	font-weight: 500

}

.dropdown-large .msg-header .msg-header-clear {

	font-size: 12px;

	color: rgb(255 255 255 / 100%);

	margin-bottom: 0

}

.dropdown-large .msg-footer {

	padding: .8rem 1rem;

	color: rgb(255 255 255 / 100%);

	border-top: 1px solid rgb(255 255 255 / 15%);

	background-clip: border-box;

	background: 0 0;

	font-size: 14px;

	font-weight: 500;

	border-bottom-left-radius: 10px;

	border-bottom-right-radius: 10px

}

.dropdown-large .user-online {

	position: relative

}

.dropdown-large .msg-name {

	font-size: 14px;

	margin-bottom: 0;

	color: rgb(255 255 255);

}

.dropdown-large .msg-info {

	font-size: 13px;

	margin-bottom: 0;

	color: rgb(255 255 255 / 50%);

}

.dropdown-large .msg-avatar {

	width: 45px;

	height: 45px;

	border-radius: 50%;

	margin-right: 15px

}

.dropdown-large .msg-time {

	font-size: 12px;

	margin-bottom: 0;

	color: rgb(255 255 255 / 50%);

}

.dropdown-large .user-online:after {

	content: '';

	position: absolute;

	bottom: 1px;

	right: 17px;

	width: 8px;

	height: 8px;

	border-radius: 50%;

	box-shadow: 0 0 0 2px #fff;

	background: #16e15e

}

.dropdown-large .dropdown-menu .dropdown-item {

	padding: .5rem 1.3rem;

	border-bottom: 1px solid rgb(255 255 255 / 15%);
    background-color: #FFF ;

}

.header-message-list {

	position: relative;

	height: 360px

}

.header-notifications-list {

	position: relative;

	height: 360px

}

.dropdown-large .notify {

	width: 45px;

	height: 45px;

	line-height: 45px;

	font-size: 22px;

	text-align: center;

	border-radius: 50%;

	color: #fff;

	background-color: rgb(255 255 255 / 15%);

	margin-right: 15px

}

.app-box {

	width: 45px;

	height: 45px;

	display: flex;

	align-items: center;

	font-size: 26px;

	justify-content: center;

	cursor: pointer;

	border-radius: 10px;

	color: #fff;

	background-color: rgb(255 255 255 / 15%)

}

.app-title {

	font-size: 14px

}

.user-box .dropdown-menu i {

	vertical-align: middle;

	margin-right: 10px

}

.dropdown-menu {

	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

	border: 0 solid #e9ecef;

	font-size: 14px;

	border-radius: 10px;

}

.topbar .navbar .dropdown-menu {

	-webkit-animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;

	animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown

}

@-webkit-keyframes animdropdown {

	from {

		-webkit-transform: translate3d(0, 6px, 0);

		transform: translate3d(0, 6px, 0);

		opacity: 0

	}

	to {

		-webkit-transform: translate3d(0, 0, 0);

		transform: translate3d(0, 0, 0);

		opacity: 1

	}

}

@keyframes animdropdown {

	from {

		-webkit-transform: translate3d(0, 6px, 0);

		transform: translate3d(0, 6px, 0);

		opacity: 0

	}

	to {

		-webkit-transform: translate3d(0, 0, 0);

		transform: translate3d(0, 0, 0);

		opacity: 1

	}

}

.mobile-search-icon {

	display: none

}

.mobile-toggle-menu {

	display: none;

	font-size: 26px;

	color: #fff;

	cursor: pointer

}

.switcher-wrapper {

	width: 280px;

	height: 100%;

	position: fixed;

	right: -280px;

	top: 0;

	bottom: 0;

	z-index: 1030;

	background: #111314;

	border-left: 0 solid #d2d2d2;

	box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .13);

	transition: all .2s ease-out

}

.switcher-btn {

	width: 40px;

	height: 40px;

	line-height: 40px;

	font-size: 24px;

	background: rgb(255 255 255 / 15%);

	box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .13);

	color: rgb(19 65 121 / 100%);

	text-align: center;

	border-top-left-radius: 10px;

	border-bottom-left-radius: 10px;

	position: absolute;

	top: 40%;

	right: 100%;

	cursor: pointer

}

.switcher-wrapper.switcher-toggled {

	right: 0

}

.switcher-body {

	padding: 1.25rem

}

.switcher {

	list-style: none;

	margin: 0;

	padding: 0;

	overflow: hidden;

	margin-left: 20px;

}

.switcher li {

	float: left;

	width: 55px;

	height: 55px;

	margin: 0 15px 15px 0px;

	border-radius: 10px;

	border: 0px solid black;

}


.bg-theme {

	background-size: 100% 90%;

	background-color: var(--cor-background) !important;
	background-attachment: fixed;

	background-position: center;

	background-repeat: no-repeat;

	transition: background .2s;

}

#theme1 {

	/* background-image: asset('img/bg_login.png'); */
    background: var(--cor-background) !important;

	background-size: 100% 100%;

	background-position: center;

	transition: background .3s;

}



body.bg-theme1 {

/*	background-image: url(../images/bg-themes/1.png);
*/
}








@media only screen and (max-width: 1199px) {

	.row.row-group>div {
		border-right: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	}

	.row.row-group>div:last-child {
		border-right: none;
		border-bottom: 0;
	}

}


@media screen and (max-width: 1024px) {

	.topbar {

		left: 0!important

	}

	.mobile-search-icon {

		display: block

	}

	.mobile-toggle-menu {

		display: block

	}

	.sidebar-wrapper {

		background: #171717;

		left: -300px;

		box-shadow: none

	}

	.sidebar-header {

		background: rgb(255 255 255,100%);

	}

	.page-wrapper {

		margin-left: 0

	}

	.page-footer {

		left: 0

	}

	.search-bar {

		display: none

	}

	.full-search-bar {

		display: flex;

		align-items: center;

		width: 100%;

		position: absolute;

		left: 0;

		z-index: 100;

		background: rgb(11 12 15);

		height: 60px;

		padding: 0 1.4rem

	}

	.search-bar-box {

		width: 100%

	}

	.search-close {

		display: block

	}

	.search-show {

		left: 15px;

		right: auto

	}

	.search-control {

		background-color: rgb(0 0 0 / 60%);

		border: 1px solid rgb(242 239 239 / 15%);

		padding-left: 2.5rem

	}

	.wrapper.toggled .sidebar-wrapper {

		left: 0

	}

	.wrapper.toggled .page-wrapper {

		margin-left: 0

	}

	.wrapper.toggled .overlay {

		position: fixed;

		top: 0;

		right: 0;

		bottom: 0;

		left: 0;

		background: #000;

		opacity: .6;

		z-index: 10;

		display: block;

		cursor: move;

		transition: all .2s ease-out

	}


}

@media screen and (max-width: 620px) {

	.topbar .navbar .dropdown-menu::after {

		display: none

	}

	.topbar .navbar .dropdown {

		position: static!important

	}

	.topbar .navbar .dropdown-menu {

		width: 100%!important

	}

}


.btnSalvarCliente{
    background: #ee7d11 !important;
    border: 2px solid #ee7d11 !important;
    padding: 10px 30px !important;
    border-radius: 45px !important;
    font-size: 16px !important;
    font-family: 'Century Gothic', sans-serif !important;
    font-weight: 600 !important;
    color: #FFFF
}

.cardCliente{
    padding-bottom: 10px;
    padding-top: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
	background-color: #000 !important;
}
.select2-results__option--selectable{
	background-color: #404142 !important;
}
