
#carouselExampleCaptions ol.carousel-indicators li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 0.5px solid #212121;
	background: #212121;
	opacity: 1;
}
#carouselExampleCaptions ol.carousel-indicators li.active {
	width: 17px;
	height: 17px;
	border: 3px solid #ed8503;
	border: double;
	border-color: #fff;
	background: #212121;
}


section#banner .bd-example img.banner{
	margin-top: 5%;
	width: 100%;
	height:90vh;
	overflow: hidden;
}

section#banner .bd-example img.imgpreco{

	width: 80px;

}
section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  {
	animation: left_to_right 1s ease;
	text-align: center;
	left: 10%;
	right: 55%;
	top: 20%;
	}


	
	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3{
		margin-top: 20px;
		font-size: 2.5em;
		line-height: .9;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;

}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3.telemedicina{
		margin-top: 20px;
		font-size: 3.4em;
		line-height: .9;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;

}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p{
	margin-bottom: 0;

}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3 span{
		color: #76c585;
		font-size: 1.06em;
		font-weight: 700;

}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h4{

	font-weight: 700;
}
section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h4 span{
	color: #76c585;
	font-size: 1.06em;
}


section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 span{
	color: #76c585;
	font-size: 1.06em;
}
section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 {
	color: #FFFF;
	font-size: 3.06em !important;
	font-weight: 800;
} 



section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3.telemedicina{
	margin-top: 20px;
	font-size: 3.4em;
	line-height: .9;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;

}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h2.preco{
font-size: 3.8em;
line-height: .9;
font-weight: bold;
color: #fff;
text-transform: uppercase;

}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  .botao-banner{
		width: 260px;
		margin: 0 auto;
}

section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  .botao-banner a{
			background-color: #fff;
			font-family: "Century Gothic";
			font-weight: 600;
			color: #212121;
			padding: 4px 30px;
			border-radius: 4px;
}
section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  .botao-banner a:hover{
			background-color: #212121;
			color: #fff;
			padding: 4px 30px;
			border-radius: 4px;
			text-decoration: none;
}

@media (max-width: 2500px) {
	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h2.preco{
		margin-left: -28%;
		font-size: 3.3em;

	}
	section#banner .bd-example img.imgpreco{

		width: 80px;
	
	}
}

@media (max-width: 1921px) {
	section#banner .bd-example img.banner{
		margin-top: 5%;
		width: 100%;
		height:80vh;
		overflow: hidden;
	}
}

@media (max-width: 1600px) {
	section#banner .bd-example img.banner{
		margin-top: 5%;
		width: 100%;
		height:85vh;
		overflow: hidden;
	}
}

@media (max-width: 1441px) {
	section#banner .bd-example img.banner{
		margin-top: 5%;
		width: 100%;
		height:90vh;
		overflow: hidden;
	}
	section#banner .bd-example img.imgpreco{

		width: 80px;
		height: auto;
	}


section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h2.preco{
	margin-left: -12%;
	font-size: 3.3em;

}
}


@media (max-width: 1300px) {
	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  {
		top: 12%;
		}
}

@media (max-width: 769px) {
	.imgpreco{
		width: 80px;	
	}
	section#banner .bd-example img.banner{
		height:70vh;
		overflow: hidden;
	}

	section#banner	#carouselExampleCaptions .carousel-inner .carousel-item p {
		font-size: 1em;
		width: 100%;
   }

	section#banner	#carouselExampleCaptions .carousel-inner .carousel-item h3 {
		font-size: 1.3em;
   }
   #carouselExampleIndicators .carousel-inner .carousel-item h3 {
	font-size: 1.1em;
	}

	#carouselExampleIndicators .carousel-inner .carousel-item p {
		font-size: 1.1em;
		font-weight: 500;
		color: #000;
	}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3.telemedicina{
		margin-top: 20px;
		font-size: 2.4em;
		line-height: .9;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;

}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h4{
		font-size: 1em;
	}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h2.preco{
		margin-left: 0;
		font-size: 1.4em;
	}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  {
		animation: left_to_right 1s ease;
		text-align: left;
		left: 10%;
		right: 10%;
		top: 20%;
	}
}

@media (max-width: 600px) {
	.imgpreco{
		height: 0 !important;
		width: 0	!important;
	}
	section#banner .bd-example img.banner{
		height:80vh;
		overflow: hidden;
	}

}

@media (max-width: 426px) {
	.imgpreco{
		height: 0 !important;
		width: 0	!important;
	}
	section#banner .bd-example img.banner{
		object-fit:cover;
		width: 100vw;
		height: 55vh;
		margin-right: 80%;
		min-height: 572px;
		background:#fff;
	}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  {
		animation: left_to_right 1s ease;
		text-align: left;
		left: 5%;
		right: 5%;
		height: 200px !important;
		top: 20%;
	}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3{
		font-size: 1.4em;
		text-shadow: black 0.1em 0.1em 0.2em
	}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h3.telemedicina{
		margin-top: 10px;
		font-size: 1.4em;
		line-height: .9;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;

}

	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  p{
		width: 100%;
		font-size: 14px;
		text-shadow: black 0.1em 0.1em 0.2em
	}
   section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  .botao-banner{
	left: 10px;
	right: 10px;
	}

   section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  .botao-banner{
	width: 100%;
	}

}
section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption-vantagens  {
	animation: left_to_right 1s ease;
	text-align: center;
	left: 25%;
	right: 45%;
	top: 30%;
	}
@media (max-width: 376px) {

	section#banner .bd-example img.banner{
		object-fit:cover;
		width: 100vw;
		top: 0;
		left: 0;
		min-height: 472px;
		background:#fff;
	}
	section#banner .bd-example  img.imgpreco{

		width: 30% !important;
		height: auto !important;
	}
	#carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption  {
		animation: left_to_right 1s ease;
		width: 90%;
		height: 370px !important;
		right: 0 !important;
		text-align: center;
		 top: 12%;
		 text-shadow: black 0.1em 0.1em 0.2em
	}
	section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption-vantagens  {
		animation: left_to_right 1s ease;
		text-align: center;
		left: 15%;
		right: 45%;
		top: 30%;
		}
		section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption-vantagens h3.telemedicina {
			font-size: 1.9em;
			}
			section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 span{
				color: #76c585;
				font-size: 1.06em;
			}
			section#banner #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 {
				color: #FFFF;
				font-size: 2.06em !important;
				font-weight: 800;
			} 
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

