@tailwind base;

@tailwind components;

@tailwind utilities;

body,
a{
    color: var(--title-primary);
}
a:hover{
    color: var(--title-primary-hover);
}
.swiper-button-next, 
.swiper-button-prev{
    color: var(--primary)!important;

}
.productsFeatured{
    width: calc(100% - 100px);
}
.block-productsFeatured{
    position: relative;
}
.productsFeatured.swiper-button-next, 
.productsFeatured.swiper-button-prev{
    position: absolute;
}
.bg-prymary{
    background-color: var(--primary);
}
.bg-secundary{
    background-color: var(--secundary);
}

.title-primary{
    color:var(--title-primary);
}

a.title-primary:hover{
    color:var(--title-primary-hover);
}
.title-secundary{
    color:var(--title-secundary);
}
/* PRODUCT */
.text-price{
    color: var(--text-price);
}
.text-price-with-special{
    color: var(--text_price_with_price);
}
.text-special-price{
    color: var(--text-special-price);
}
.swiper-wrapper{
    width: calc(100% - 80px)!important;
}
.productsFeatured {
    margin-top: 50px;
    position: relative;
  }
  
  .arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
  }

/* FOOTER */
footer{
    background-color: var(--background-footer);
}
footer .text-footer a,
footer .text-footer{
    color: var(--text-footer);
}

footer .text-footer a::hover{
    font-weight: bold;
}
/*Cart*/
.add-tocart{
    background-color: var(--bg-addtocart);
    color: var(--text-addtocart);
}

.add-tocart:hover{
    background-color: var(--bg-addtocart-hover);
    color: var(--text-addtocart-hover);
}

